.workers {
	[data-working='true'] {
		color: var(--handbrake-blue-text);
	}

	[data-working='false'] {
		color: var(--handbrake-yellow);
	}

	.status {
		display: inline-block;
		padding: 0.25rem 0.5rem;
		border-radius: 0.5rem;
		background-color: var(--background-four);
		color: var(--text-tertiary);

		&[data-online='true'] {
			color: var(--handbrake-green-text);
		}

		&[data-online='false'] {
			color: var(--handbrake-orange);
		}
	}

	.capability {
		margin: 0 0.15rem;
		padding: 0.25rem 0.5rem;
		font-size: 0.9rem;
		font-weight: 600;
		border-radius: 50cqh;
		background-color: var(--background-four);
	}
}
